/* File: src/pages/Why.css */

.why-page {
    background-color: var(--light-bg);
    font-family: 'Poppins', sans-serif;
    color: var(--text-dark);
  }
  
  .why-hero {
    background: linear-gradient(to bottom, rgba(28, 76, 69, 0.8), rgba(28, 76, 69, 0.8)),
                url('https://i.imgur.com/BIdnz1q.png') center/cover no-repeat;
    padding: 6rem 2rem;
    text-align: center;
    color: var(--text-light);
  }
  
  .why-hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .why-hero-content p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto;
    opacity: 0.9;
  }
  
  .why-content {
    padding: 4rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .why-section {
    margin-bottom: 0rem;
  }
  
  .why-section h2 {
    color: var(--primary);
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  
  .why-section p {
    font-size: 1.25rem;
    line-height: 1.7;
  }
  
  .why-section ul {
    margin-top: 1rem;
    padding-left: 1.2rem;
  }
  
  .why-section li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }

  .quote-box {
    background-color: var(--accent-light);
    border-left: 5px solid var(--accent);
    padding: 1.5rem;
    margin-top: 1.5rem;
    font-style: italic;
    color: var(--text-dark);
  }
  .quote-box span {
    display: block;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--text-medium);
  }
  .why-cta {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  
  .why-cta p {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  
  .cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--primary);
    color: white;
    border-radius: 2rem;
    font-size: 1.25rem;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }
  
  .cta-button:hover {
    /* background-color: var(--primary-dark); */
    background-color: #36796f;
  }

  .problem-facts {
    margin-top: 1.5rem;
    padding-left: 1.2rem;
    list-style: none;
  }
  
  .problem-facts li {
    background-color: #f9f9f9;
    border-left: 4px solid var(--primary);
    padding: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.04);
    font-size: 1.25rem;
  }
  
  .highlight {
    font-weight: bold;
    color: var(--accent);
  }
  
  .quick-facts-image {
    display: block;
    margin: 0 auto 0 auto;
    max-width: 750px;
    width: 100%;
    height: auto;
  }